{% if product.metafields.style_notes.description != blank %}
  <div class="index-section style-notes">
  <div class="page-width">
    {% capture image_layout %}
      <div class="feature-row__item">
        <div>
          {% if product.metafields.style_notes.image != blank %}
          {%- assign sectionImg = product.metafields.style_notes.image | first -%}
            {% if product.metafields.style_notes.link != blank %}
            <a href="{{ product.metafields.style_notes.link }}">{% endif %}
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: sectionImg.aspect_ratio }}%;">
              {%- assign img_url = sectionImg | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="feature-row__image lazyload"
                  data-src="{{ sectionImg.src }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ sectionImg.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ sectionImg.alt }}">
            </div>
            {% if  product.metafields.style_notes.link != blank %}</a>{% endif %}
          {% else %}
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endcapture %}

    <div class="feature-row" data-aos>
      <div class="feature-row__item feature-row__text {% if product.metafields.style_notes.image == blank   %}
        feature-row__text--full-width
      {% endif %}">
        {% if product.metafields.style_notes.title != blank %}
          <div class="h3 style-notes__title">{{ product.metafields.style_notes.title}}</div>
        {% endif %}
        {% if product.metafields.style_notes.description != blank %}
          <div class="rte featured-row__subtext">{{ product.metafields.style_notes.description }}</div>
        {% endif %}
          <a href="{{product.metafields.style_notes.link}}" class="btn">
            Learn more
          </a>
      </div>
      {% if product.metafields.style_notes.image != blank %}
        {{ image_layout }}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

