<div class="about-us__team-member">
  {% if block.settings.image != blank %}
    <div class="about-us__team-member-image" style="background-image: url({{ block.settings.image | img_url: 'Medium' }}); {% if block.settings.image-right %}order: 3; margin: 0 0 0 124px;{% endif %}">
      <img class="visually-hidden" src="{{ block.settings.image }}" alt="{{ block.settings.image.alt }}"/>
    </div>
  {% endif %}
  <div>
    {% if block.settings.title != blank %}
      <h2 class="about-us__team-member-title">{{block.settings.title}}</h2>
    {% endif %}
    {% if block.settings.description != blank %}
      <div class="about-us__team-member-description">{{block.settings.description}}</div>
    {% endif %}
  </div>
</div>